body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

footer {
  margin-top: 42px;
}

.header-logo {
  width: 200px;
  height: auto;
}
